body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

Button {
  margin: .3em;
}

button.purchase-button {
  margin: 1.46rem 0 1.168rem 0;
}

.row > h5 {
  text-align: left;
}

.s11 > p {
  text-align: left;
}

#add-to-cart-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .input-field {
    width: 50px;
  }
  button {
    flex-shrink: .5;
  }
}

.quantity-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#quantity-edit {
  width: 50px;
}

.errorMessage {
  background: pink;
  color: red;
}

#purchase-conf {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#google-icon {max-height: 1em;
  padding-right: 2px;
  padding-top: 1px;
}
#centerpaw {
  max-width: 50%;
}

.placeholder-card {
  height: 300px;
}

.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
/*.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
}*/

Collection.search-matches button {
  all: none
}

#logo-paw {
  height: 64px;
  display: inline-block;
}

#brand-logo {
  display: inline-block;
}

#brand-logo.active {
  height: inherit;
}

nav a {
  height: 64px;
}

#atc-quantity-wrapper .select-wrapper input.select-dropdown {
  height: 1.5rem;
  overflow: visible;
}

#atc-rating-wrapper i {
  margin-top: 16px;
}

#atc-view-ratings-wrapper {
  padding-top: 15px;
}

div.card-collection > .collection {
  overflow: visible;
}

nav {
  background-color: rgb(241, 40, 40)
}

.btn, .btn-large {
  background-color: #4257c5;
  color: white;
}

.tabs .tab a {
  color: rgb(241, 40, 40)
}
