body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

#add-to-cart-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .input-field {
    width: 50px;
  }
  button {
    flex-shrink: .5;
  }
}

#quantity-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.errorMessage {
  background: pink;
  color: red;
}

#purchase-conf {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#google-icon {max-height: 1em;
  padding-right: 2px;
  padding-top: 1px;
}
#centerpaw {
  max-width: 50%;
}

.placeholder-card {
  height: 300px;
}

.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
/*.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
}*/

Collection.search-matches button {
  all: none
}
